.contactus_main_container{
    display: flex;
    align-items: center;
    justify-content:  space-around;


    .form_main{
        
    }
    .map_container{
        
        background-color: green;
        height: 30vh;
    }
}